@import '../styles/variables';
@import '../styles/mixins';

.header {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: none;
  display: block;
}

.headerImage {
  width: 100%;
  display: block;
}

@media (min-width: 900px) {
  .headerImageMobile {
    display: none;
  }
  .headerImageDesktop {
    display: block;
    max-height: 25vh;
  }
}

@media (max-width: 899px) {
  .headerImageMobile {
    display: block;
  }
  .headerImageDesktop {
    display: none;
  }
}
