.headerImage {
  width: 100%;
  display: block;
}

@media (min-width: 900px) {
  .headerImageMobile {
    display: none;
  }
  .headerImageDesktop {
    display: block;
  }
}

@media (max-width: 899px) {
  .headerImageMobile {
    display: block;
  }
  .headerImageDesktop {
    display: none;
  }
}
